#home-page {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    color: var(--font-color);
    background-color: var(--bg-color-main);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.faq-component {
    margin-top: 63px;
    width: 772px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & &__header {
        margin: 0;
        margin-bottom: 40px;
        width: 336px;
        font-size: 32px;
        font-weight: 500;
        line-height: 38.4px;
        text-align: center;
    }

    & &__questions-container {
        width: 100%;
    }

    & &__single-question-holder {
        margin-bottom: 4px;
        background-color: var(--bg-color-faq);
        border: solid 1.5px rgba(255, 255, 255, 0.07);
        border-radius: 28px;
        transform: 300ms;

        &.active {
            height: auto;
            border: solid 1.5px var(--accent-color);
            background-color: var(--accent-color-transparent);
        }
    }

    & &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 87px;
        padding: 0px 25.5px 0px 40px;
        cursor: pointer;
    }

    & &__question {
        margin: 0;
        font-size: 18px;
        line-height: 21.6px;
    }

    & &__icon {
        color: var(--accent-color);
    }

    & &__answer {
        margin: 0px 40px;
        line-height: 0px;
        letter-spacing: -0.16px;
        font-size: 16px;
        font-weight: 400;
        transition: 300ms;
        visibility: hidden;
        opacity: 0;

        &.active {
            opacity: 1;
            margin: -9px 40px 34px 40px;
            line-height: 25.6px;
            visibility: visible;
        }

        a {
            color: var(--font-color);
        }
    }

}

@media screen and (max-width: 834px) {
    .faq-component {
        width: 807px;
        margin-top: 48px;

        & &__header {
            margin-bottom: 32px;
            width: 257px;
            font-size: 24px;
            line-height: 28.8px;
        }

        & &__title {
            height: 79px;
            padding: 0px 32px 0px 32px;
        }

        & &__question {
            font-size: 16px;
            line-height: 19.2px;
        }

        .text-l {
            font-size: 18px;
        }

        & &__answer {
            width: 744px;
            font-size: 14px;
            letter-spacing: -0.14px;

            &.active {
                line-height: 22.4px;
                margin: -5px 32px 28px 32px;
            }
        }
    }
}